<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Index Page</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .category-list {
            list-style-type: none;
            padding: 0;
        }

        .category-list-item {
            margin-bottom: 10px;
        }

        .category-link {
            text-decoration: none;
            color: steelblue;
            font-weight: bold;
        }

    </style>
</head>
<body>

<h3>Main page</h3>

<ul class="category-list">
    <li class="category-list-item">
        <a th:href="@{/flights}" class="category-link">Flights</a>
    </li>
    <li class="category-list-item">
        <a th:href="@{/bookings}" class="category-link">Bookings</a>
    </li>
</ul>

</body>
</html>